{% extends "impl.j2" %}

{% block summary %}
<p>
De verschillende bouwstenen resulteren in een geïntegreerd totaalmodel voor geluidsmeldingen en -metingen, waarin observaties, meldingen, locatie-informatie en administratieve opvolging op een coherente en semantisch consistente manier met elkaar verbonden zijn. Dit model ondersteunt de volledige keten: van observatie en meting, over melding, tot dossiermatige opvolging.
</p>

<p>
Het fundament voor het modelleren van waarnemingen en metingen wordt gevormd door SSN/SOSA, dat een gestandaardiseerd kader biedt voor het beschrijven van observaties, sensoren en hun onderlinge relaties. Binnen dit kader wordt het concept Meetpunt expliciet gemodelleerd, waardoor observaties nauwkeurig kunnen worden gekoppeld aan de plaats waar metingen worden uitgevoerd. Dit verhoogt de interpretatie en herbruikbaarheid van meetgegevens.
</p>

<p>
Het locatiemodel werd verfijnd om observaties en meldingen op een eenduidige en flexibele manier ruimtelijk te positioneren. Door het onderscheid tussen Locatie (geometrische positionering), Plaats (benoemde of administratieve entiteit) en Adresvoorstelling (weergave van een adres), kunnen verschillende vormen van locatie-informatie semantisch correct worden gemodelleerd en toegepast in uiteenlopende use cases. Hierdoor kunnen sensoren, meetpunten, gebeurtenissen en meldingen consistent aan hun ruimtelijke context worden gekoppeld.
</p>

<p>
Boven op dit observatiefundament maken OSLO‑Melding en het centraal gemodelleerde concept Agent het mogelijk om vaststellingen te vertalen naar meldingen, waarbij actoren en hun rollen expliciet en uniform worden vastgelegd. De verdere administratieve opvolging wordt gestructureerd via OSLO‑Dossier, waarin meldingen en bijhorende activiteiten worden ingebed in een zaakgericht kader.
</p>

<p>
Domeinspecifieke objecten plaatsen observaties, meldingen en locaties binnen hun NDNN-context, terwijl codelijsten en datatypen zorgen voor eenduidige typering, consistente betekenis en herbruikbare structuren.
</p>

<p>
Door deze elementen te combineren ontstaat een robuust en flexibel informatiemodel dat semantische correctheid, herbruikbaarheid en interoperabiliteit centraal stelt. Het model vormt daarmee een solide basis voor verdere uitwerking, implementatie en gegevensuitwisseling binnen het kader van geluidsmonitoring en nudging van nachtelijk geluid.
</p>

{% endblock %}
